.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color: red;
} 

.login {
    margin-top : 20%;
    margin-left : 50%;
    margin-right : auto;
    margin-bottom : auto;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    width:300px;    
}

.container{
    height: 100vh;
}